@mixin todo {
    color: $text_color;
    width: 75%;
    font-size: 24px;
    border-radius: 5px;
}

.todolist{
    background-color: $text_background_color;
    @include todo;
    margin: 15px auto;
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .todolist_change{
        @include todo;
        text-align: center;
    }
    .destroy{
        font-size: 24px;
        border: none;
        background-color: transparent;
        transition: 0.3s;
        &:hover{
            color: $text_current_color;
            cursor: pointer;
        }
    }
    .cancel{
        opacity: 0.4;
    }
}